body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color:#fde7e7;
    ;/* Rosita pastel */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    color: #ff85a2; /* Rosita pastel más oscuro */
}

label {
    display: block;
    margin-top: 10px;
    color: #ff85a2; /* Rosita pastel más oscuro */
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ff85a2; /* Rosita pastel más oscuro */
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #ff85a2; /* Rosita pastel más oscuro */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #e6678d; /* Rosita pastel más oscuro - tono más claro al pasar el ratón */
}

/*registro*/
.close-button,
.register-button {
    background-color: #f0f0f0;
    color: #a80853;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.close-button:hover,
.register-button:hover {
    background-color: #ffa8c2;
}


.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}